div {
    -moz-column-count:3; /* Firefox */
    -webkit-column-count:3; /* Safari and Chrome */
    column-count:3;

    -moz-column-gap:40px; /* Firefox */
    -webkit-column-gap:40px; /* Safari and Chrome */
    column-gap:40px;

    -moz-column-rule:3px outset #ff00ff; /* Firefox */
    -webkit-column-rule:3px outset #ff00ff; /* Safari and Chrome */
    column-rule:3px outset #ff00ff;
}
